//BLOG
.main-blog{
    .blog{
        width:90%;
        margin: 0 auto;
        padding-top: 2rem;
        h3{

            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .entrada{
            border-bottom: 1px solid $Primario;
            margin-bottom: 2rem;
            &:last-of-type{
                border: none;
            }
            .entrada_imagen{
                img{
                    width: 100%;
                }
            }
            .entrada_contenido{
                h4{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                    text-transform:capitalize;
                }
                .boton{
                    display: block;
                    font-family: $fuentePrincipal;
                    color: $blanco;
                    text-align: center;
                    padding: 1rem 3rem;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    margin-bottom: 2rem;
                    border: none;
                    text-decoration: none;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .boton--primario{
                    background-color: $PrimarioOscuro;
                }
            }
        }
    }
}

@media (min-width:768px ){
    .main-blog{
        .blog{
            width:70rem;

        } 
    }
}